* {
  box-sizing: border-box;
  margin: 0;
}
header {
  padding: 2rem 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 2rem 4rem;
  gap: 2rem;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
